.input-container {
    position:fixed;
    bottom:0;
    width:100%;
    background:#fff;
    padding: 10px 0;
    font-size: 14px;
}

.input-box {
    margin-left:5%;
    width: 80%;
    outline: none;
    float:left;
    color: rgba(0, 0, 0, 0.870588);
    font-size:100%;
    line-height: 24px;
    background: 0;
    border: 0;
    border-bottom: 2px solid rgb(224,224,224);
}

.send-btn {
    background-color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
    display: inline-block;
    padding:3px 15px;
    font-size: 13px;
    font-weight: 500;
    margin: 0px;
    color: rgba(0, 0, 0, 0.870588);
    min-width:65px;
    outline:0;
}