.container {
    height: 100%;
    width: 970px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn {
    margin-top: 10px;
    background-color: #608da9 !important;
    border-color: #6b9bce !important;
}

form {
    background-color: #c5cace;
    padding: 50px;
    border-radius: 10px;
}